<div class="container">
    <h2 oda-label="oda-main.authentication">oda-main.authentication</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="login" oda-label="oda-main.login">oda-main.login</label>
                <input required type="text" class="form-control" oda-input-text="login" oda-input-text-tips="oda-main.io-login-tips" oda-input-text-placeholder="oda-main.io-login" oda-input-text-check="Oda.Regexs:login">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="mdp" oda-label="oda-main.password">oda-main.password</label>
                <input required type="password" class="form-control" oda-input-text="mdp" oda-input-text-tips="oda-main.io-pass-tips" oda-input-text-placeholder="oda-main.io-pass" oda-input-text-check="Oda.Regexs:pass">
            </div>
        </div>
        <div class="col-md-12">
            <p>
                <oda-btn oda-btn-name="submit" oda-btn-style="primary" oda-btn-enter="1" oda-btn-click="$.Oda.Controller.Auth.goIn();" disabled>oda-main.bt-submit</oda-btn>
                <oda-btn oda-btn-style="info" oda-btn-click="$.Oda.Router.navigateTo({'route':'forgot','args':[]});">oda-main.bt-forgot</oda-btn>
                <oda-btn oda-btn-style="info" oda-btn-click="$.Oda.Router.navigateTo({'route':'subscrib','args':[]});">oda-main.bt-subscrib</oda-btn>
            </p>
        </div>
        <div class="col-md-12">
            <p id="google">
                &nbsp;
            </p>
        </div>
    </div>
</div>

<script>
    $.Oda.Controller.Auth = {
        /**
         * @param {Object} p_params
         * @param p_params.id
         * @returns {$.Oda.Controller.Auth}
         */
        start : function (p_params) {
            try {
                $.Oda.Scope.Gardian.add({
                    id : "gardianAuth",
                    listElt : ["login", "mdp"],
                    function : function(params){
                        if( ($("#login").data("isOk")) && ($("#mdp").data("isOk")) ){
                            $("#submit").btEnable();
                        }else{
                            $("#submit").btDisable();
                        }
                    }
                });

                $.Oda.Google.startSessionAuth(
                        function(){
                            $('#google').html('<button type="button" onclick="$.Oda.Controller.Auth.goInWithGoogle();" class="btn btn-danger center-block">'+$.Oda.I8n.get("oda-main","bt-google")+'</button>');
                        }
                        , function(){
                            $('#google').html('<button type="button" onclick="$.Oda.Google.callServiceGoogleAuth($.Oda.Controller.Auth.goInWithGoogle);" class="btn btn-danger center-block">'+$.Oda.I8n.get("oda-main","bt-google")+'</button>');
                        }
                );
                return this;
            } catch (er) {
                $.Oda.Log.error("$.Oda.Controller.Auth.start : " + er.message);
                return null;
            }
        },
        /**
         * @param {Object} p_params
         * @param p_params.id
         * @returns {$.Oda.Controller.Auth}
         */
        goIn : function (p_params) {
            try {
                $.Oda.Security.auth({'login' : $('#login').val(), 'mdp' : $('#mdp').val(), 'reload' : true});
                return this;
            } catch (er) {
                $.Oda.Log.error("$.Oda.Controller.Auth.goIn : " + er.message);
                return null;
            }
        },
        /**
         * @returns {$.Oda.Controller.Auth}
         */
        goInWithGoogle : function () {
            try {
                gapi.client.oauth2.userinfo.get().execute(function(resp) {
                    var retour = $.Oda.Interface.callRest($.Oda.Context.rest+"vendor/happykiller/oda/resources/api/getAccountsFromEmail.php", {callback:function(retour){
                        if(retour.data.nombre == 0){
                            $.Oda.Display.Notification.warning($.Oda.I8n.get('oda-auth','noAccount')+resp.email);
                        }else if(retour.data.nombre == 1){
                            $.Oda.Security.auth({"login" : retour.data.data[0].code_user, "mdp" : "authByGoogle-"+resp.email, "reload" : true});
                        }else {
                            var strHtml = '<div class="list-group"">';
                            for (var indice in retour.data.data) {
                                var elt = retour.data.data[indice];
                                strHtml += "<a class=\"list-group-item\" onclick=\"$.Oda.Security.auth({'login' : '"+elt.code_user+"', 'mdp' : '"+"authByGoogle-"+resp.email+"', 'reload' : true});\">"+elt.code_user+"</a>";
                            }
                            strHtml += '</div>';
                            $.Oda.Display.Popup.open({"label" : $.Oda.I8n.get('oda-auth','chooseAccount'), "details" : strHtml});
                        }
                    }}, { "email" : resp.email});
                });
                return this;
            } catch (er) {
                $.Oda.Log.error("$.Oda.Controller.Auth.goInWithGoogle : " + er.message);
                return null;
            }
        }
    };
    
    $.Oda.Controller.Auth.start();
</script>