.dataTableColCenter {
    text-align: center;
}

.iconProfile {
    transition: all .2s ease-in-out;
}

.iconProfile:hover {
    transform: scale(1.5);
}

a:hover {
    cursor:pointer;
}

.alert-warning {
    color: #3a3a3a;
    background-color: rgba(250, 159, 38, 1);
    border-color: rgba(117, 71, 22, 1);
}

.footer{
    z-index: 999999;
    position: fixed;
    bottom: 5px;
    text-align: center;
    width:80%;
    margin: 0 0 0 -40%;
    left:50%;
    color: lightgray;

}
.footer a:link {
    color: rgba(53, 141, 201, 0.44);
}
.footer a {
    text-decoration: none;
}

.navbar {
    margin-bottom: 5px;
}

#oda-content {
    padding-bottom: 10px;
}