<script id="oda-notification-tpl" type="text/template">
    <div style="position:fixed;bottom:10px;width:80%;left:50%;margin-left:-40%;z-index:99999999999999;" id="oda-notification"></div>
</script>

<script id="oda-popup-tpl" type="text/template">
    <div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true" id="{{name}}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="{{name}}_label">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid" id="{{name}}_content">
                        Hello World
                    </div>
                </div>
                <div class="modal-footer" id="{{name}}_footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="oda-tuto-tpl" type="text/template">
    <!-- tuto -->
    <div style="display: none">
        <div oda-tuto-content="oda-avatar">
            <span oda-label="oda-main.tuto-label-avatar"></span>
        </div>
        <div oda-tuto-content="oda-brand">
            <span oda-label="oda-main.tuto-label-brand"></span>
        </div>
    </div>
    <!-- /tuto -->
</script>

<script id="oda-widget-input-text-tpl" type="text/template">
<div class="form-group">
    <label for="{{name}}" style="{{labelDisplay}}">{{label}}&nbsp;{{requiredStart}}</label>
    <div class="{{adviceDisplayInput}}">
        <input type="{{type}}" class="form-control" name="{{name}}" id="{{id}}" {{requiredBalise}} title="{{tips}}" value={{value}}>
        <span class="input-group-btn" style="{{adviceDisplay}}">
            <button type="button"
                class="btn btn-default"
                data-container="body"
                data-trigger="focus"
                data-html="true"
                data-toggle="popover"
                data-placement="auto" 
                data-content="{{advice}}">?</button>
        </span>
    </div>
    <span style="color:#a1a1a1;{{tipsDisplay}}">&nbsp;</span>
</div>
</script>

<script id="oda-widget-input-area-tpl" type="text/template">
<div class="form-group">
    <label for="{{name}}" style="{{labelDisplay}}">{{label}}&nbsp;{{requiredStart}}</label>
    <textarea rows={{hight}} class="form-control" name="{{name}}" id="{{id}}" {{requiredBalise}} title="{{tips}}">{{value}}</textarea>
    <span style="color:#a1a1a1;{{tipsDisplay}}">&nbsp;</span>
</div>
</script>

<script id="oda-widget-input-checkbox-tpl" type="text/template">
<div class="form-group">
    <label for="{{name}}" style="{{labelDisplay}}">{{label}}&nbsp;{{requiredStart}}</label>
    <div class="checkbox">
        <input type="checkbox" name="{{name}}" id="{{id}}" {{requiredBalise}} title="{{tips}}" {{(value==='1'||value==='true')?'checked':''}}>
        <label>{{tips}}</label>
    </div>
</div>
</script>

<script id="oda-widget-input-select-tpl" type="text/template">
<div class="form-group">
    <label for="{{name}}" style="{{labelDisplay}}">{{label}}&nbsp;{{requiredStart}}</label>
    <select name="{{name}}" id="{{id}}" {{requiredBalise}} title="{{tips}}" class="form-control"></select>
</div>
</script>